.content {
    display: inline;
    position: relative;
    top: 100px;
    bottom: 100px;
    left: 10%;
    width: 100%;
}

.content>article {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

.content__profile-box {
    background: #F3F3F3;
    height: 500px;
    width: 300px;
    position: relative;
}

.content__profile-background {
    height: 200px;
}

.content__profile-picture img {
    border-radius: 50%;
    position: absolute;
    left: 80px;
    bottom: 250px;
}

.profile-background-icon {
    color: rgb(255, 0, 0);
    position: absolute;
    top: 10px;
    left: 10px;
}

.content__profile-text {
    position: relative;
    top: 60px;
    padding: 0 20px;
}

.profile-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;
}

.profile-button {
    background: #00669F;
    border: none;
    color: #fff;
    margin: 10px 0;
    padding: 10px 30px;
    position: absolute;
    left: 25%;
}