@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    color: #fff;
}

.header__settings-nav {
    background-color: #000;
}

.header__main-nav {
    background-color: #F0A83E;
}

.banner {
    background-image: url('../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    text-align: right;
    width: 100%;
}

.banner__main-text span {
    background: #fff;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.banner p {
    margin: 1rem 2rem;
}

.banner__button {
    background: #F0A83E;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin: 0.3rem 2rem;
    padding: 0.5rem;
}

.content-products {
    text-align: center;
}

.content-products h1 {
    color: #3C2313;
}

.products-list {
    display: flex;
    justify-content: center;
}

.products-list article {
    margin: 50px 10px;
}


.main-icon {
    color: #F0A83E;
    display: block;
    font-size: 5rem;
}

#contact {
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 65px;
    margin-bottom: 80px;
}

#contact h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

input {
    margin: 5px;
    width: 340px;
    height: 40px;
    background: #3C2313;
    border-radius: 15px;
    border-style: none;
}

input[placeholder] {
    color: white;
    font-size: 10px;
    padding-left: 14px;
}

button {
    width: 110px;
    height: 34px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
}

.reset {
    background: #8A8787;
}

.send {
    background: #F0A83E;
}

.about {
    display: flex;
    justify-content: space-between;
    background: #3C2313;
    color: #fff;
    padding: 0 70px;
}

.info-icon {
    background: #8A8787;
    border-radius: 50%;
    padding: 0.5rem;
}

.info__secondary-text {
    font-size: 0.75rem;
    font-weight: 300;
}

.about img {
    align-self: center;
    max-height: 23px;
}

footer {
    background-color: #F0A83E;
    color: #fff;
    text-align: center;
}